.list-wrapper{
    height: 100%;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.list-wrapper .request-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
}

.list-wrapper .show-search-list {
    max-height: 40%;
    border-bottom: 1px solid rgb(235,235,235);
    flex: auto;
}