.request-user-group {
    border-bottom: 1px solid rgb(235,235,235);
    height: 80px;
    display: flex;
    cursor: pointer;
    padding: 10px;
}

.urequest-user-group:hover {
    background-color: rgb(235, 235, 235);
}
.request-user-group .user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}
.request-user-group .name-date {
  font-size: 14px;
}
.request-user-group .user-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.request-user-group .user-date {
    float: right;
    right: 8px;
    font-size: 10px;
    overflow: hidden;
}

.request-user-group .unread {
    display: inline-block;
    margin-top: -30%;
    margin-left: -20%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color : red;
  }

  .request-user-group .type-wrapper {
      font-size: 0.8rem;
      font-weight: bold;
  }

  .request-user-group .message-status {
      font-size: 0.8rem;
  }

  .request-user-group .message-status .message {
    font-size: 10px;
    overflow: hidden;
    display: inline-block;
}
  .request-user-group .message-status .status {
    float: right;

  }
  /* .request-user-group .message-status .status::after{
      content: '';
      clear: both;
  } */