.request-header {
    height: 60px;
    background-color:white;
    border: 1px solid rgb(235,235,235);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.request-header .header {
    font-size: 1rem;
}

.input-area {
 padding: 5px 10px;
}
.search-input {
    border-radius: 2px;
    border: 1px solid #ced4da;
    /* outline: none; */
    padding: 5px;
    font-size: 10px;
    margin: 0 10px 0 2px;
    line-height: 10px;
    width: 100%;
    background-color: #fff;
}
