.chat-header {
    height: 50px;
    border-bottom: 1px solid rgb(235,235,235);
    background-color:rgb(243, 243, 243);
    align-items: center;
    padding: 10px;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.chat-header .name-wrapper{
    text-align: center;
    width: 90%;
}
