* {
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}

.layout-wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
}

.layout-wrapper .layout-left {
    width: 30%;
    height: 100%;
    position: relative;
    border-right: 1px solid rgb(235, 235, 235);
    display: flex;
    flex-wrap: nowrap;
}

.layout-wrapper .layout-right {
    width: 70%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 768px) {
    .layout-wrapper .layout-left {
        width: 100%;
    }

    .layout-wrapper .layout-right {
        width: 100%;
    }

    .layout-wrapper .sidebar-wrapper{
        display: flex;
        justify-content: space-around;
        width: 100%;
        position: fixed;
        bottom: 0;
        border-top: 1px solid rgb(235, 235, 235);
        height: 60px;
    }

    .layout-wrapper .user-list-wrapper {
        height: calc(100% - 60px);
    }

    .layout-wrapper .sidebar-wrapper .tab {
        margin-bottom: 0;
    }

    .layout-wrapper .layout-left-mobile {
        display: none;
    }

    .layout-wrapper .layout-right-mobile {
        display: none;
    }

}


@media screen and (min-width: 1320px) {
    .layout-wrapper {
        min-width: 100%;
    }
    .layout-wrapper .layout-left {
        width: 20%;
    }
    .layout-wrapper .layout-right {
        width: 80%;
    }
}